{% extends 'portfolio/html/base.html' %} {% load static %} {% block content %}
<!------------------------------------------ LEFT SIDE -------------------------------------------------->

<!------------------------------------------ CENTER -------------------------------------------------->

<div class="webglRenderer-container">
    <span class="video-title" id="modelName">Swiss Knife</span>
    <div class="main-webglRenderer-container" id="modelContainer">
        <!--<div id="webgl" class="webglRenderer-element"></div>-->
        {% include 'portfolio/html/3DmodelLoader.html' %}
    </div>

</div>
<div class="slide-holder">
    <div id="thumbnail-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for model in models %}
                <li class="splide__slide">
                    <img src="{{model.imgSrc}}" data-name="{{model.dataName}}"
                        data-model-source="{{model.dataModelSource}}">
                </li>
                {% endfor %}
            </ul>

        </div>

        <!-- Add the progress bar element -->
        <div class="splide__progress">
            <div class="splide__progress__bar">
            </div>

        </div>

        <!-- Add the autoplay control element -->
        <div class="my-autoplay-controls">
            <div class="video-play-btn-container">
                <div class="video-play-btn-border">
                    <button class="video-play-btn"><i id="video-play-btn-icon" class="fa-solid fa-pause"></i></button>
                </div>
            </div>
        </div>




    </div>

</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {

        var thumbnails = new Splide('#thumbnail-slider', {
            fixedWidth: 100,
            fixedHeight: 60,
            gap: 10,
            padding: 50,
            rewind: true,
            pagination: true,
            cover: true,
            isNavigation: true,
            drag: false,
            focus: 'center',
            autoplay: true,
            interval: 10000,
            pauseOnHover: true,
            pauseOnFocus: true,
            resetProgress: false,
            perPage: 1,
            width: 400,
            breakpoints: {
                600: {
                    fixedWidth: 60,
                    fixedHeight: 44,
                    width: 300,
                },
                400: {
                    width: 200
                }
            },
        });

        thumbnails.mount();
        window.thumbnails = thumbnails;
        var Autoplay = thumbnails.Components.Autoplay;
        window.Autoplay = Autoplay;

        /*-------------------------------AUTPLAY TOGGLE BUTTON----------------------------------------*/
        var toggleButtonNew = $('.video-play-btn').get(0)
        var toggleButtonImage = $('.video-play-btn i').get(0)
        thumbnails.on('autoplay:play', function () {
            toggleButtonNew.setAttribute('aria-label', 'Pause autoplay');
            $(toggleButtonImage).removeClass("fa-play");
            $(toggleButtonImage).addClass("fa-pause");
        });

        thumbnails.on('autoplay:pause', function () {
            toggleButtonNew.setAttribute('aria-label', 'Start autoplay');
            $(toggleButtonImage).removeClass("fa-pause");
            $(toggleButtonImage).addClass("fa-play");
        });

        thumbnails.on('autoplay:playing', function (rate) {
            // var progressBar = $(".splide__progress__bar").get(0);
            // colors = ["#FF0000", "#550000"];
            // colorIndex = parseInt((rate*100) % colors.length, 10);
            // $(progressBar).css("background-color", colors[colorIndex]);
            
        });

        toggleButtonNew.addEventListener('click', function () {
            if (Autoplay.isPaused()) {
                Autoplay.play();
            } else {
                Autoplay.pause();
            }
        });

        $(".main-webglRenderer-container").mouseenter(function () {
            if (!Autoplay.isPaused()) {
                Autoplay.pause();
            }
        });

        $(".main-webglRenderer-container").mouseleave(function () {
            if (Autoplay.isPaused()) {
                Autoplay.play();
            }
            window.toggleAnimation(true);
        });

        $(".main-webglRenderer-container").mousedown(function () {
            window.toggleAnimation(false);
        });

        // $(".main-webglRenderer-container").mouseup(function () {
        //     window.toggleAnimation(true);
        // });





        /*---------------------------------------LOAD NEXT MODEL CALLBACK--------------------------------------*/
        thumbnails.on('active', function (element) {
            //load data name and display it
            var dataName = $(element.slide).find("img").attr("data-name");
            $("#modelName").html(dataName.toString());
            $("#modelName").removeClass("video-title-error");

            var dataModelSource = $(element.slide).find("img").attr("data-model-source");
            console.log("DataName: " + dataName);
            console.log("DataModelSource: " + dataModelSource);
            if (dataModelSource) {
                Autoplay.pause();
                loadModel(dataModelSource)

            }

        });
    });
</script>

<style>
    .video-play-btn-container {
        position: initial;
        opacity: initial;
    }

    .video-play-btn-border {
        width: 40px;
        height: 40px;
    }

    .video-play-btn {
        background: radial-gradient(rgb(225 34 34), #6e0404);
        width: 34px;
        height: 34px;
    }

    .slide-holder {
        /* background-color: red; */
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow: red 0px 0px 3px, red 0px 0px 3px, red 0px 0px 3px, red 0px 0px 4px, red 0px 0px 4px, red 0px 0px 4px;
        background: #ff00001f;
        backdrop-filter: blur(2px);
    }

    .splide__slide:hover {
        transform: scale(1.1);
        border: 3px solid red !important;
    }

    .splide__slide.is-active {
        border: 3px solid red !important;
    }

    .splide__slide img {
        width: 100%;
        height: auto;
    }

    .splide__track {
        background: #5a06069c;
        padding: 5px;
        border: 3px solid #990000;
    }

    .splide__pagination {
        bottom: initial;
        margin-top: 10px;
        position: relative;
        
    }

    .splide__pagination__page{
        box-shadow: 0px 0px 1px 2px #7a1919;
    }

    .splide__pagination__page.is-active {
        background: #d93333;
        
    }

    .splide__pagination__page:hover {
        background: rgb(255, 124, 1);
    }

    .splide__arrow {
        top: 37px;
        border: 3px solid red;
        border-radius: 100%;
        background: radial-gradient(rgb(225 34 34), #6e0404);
    }

    .splide__arrow.splide__arrow--prev {
        left: -15px;
    }

    .splide__arrow.splide__arrow--next {
        right: -15px;
    }

    .splide__arrow svg {
        fill: white;
    }

    .splide__arrow svg:hover {
        fill: white;
    }

    .splide__arrow.splide__arrow--prev:hover,
    .splide__arrow.splide__arrow--next:hover {
        transform: scale(1.1);
        transform-origin: center;
        top: 17px;
    }

    .splide__progress {
        background: rgba(255, 0, 0, 0.411);
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .splide__progress__bar {
        height: 10px;
        background: rgb(184, 16, 16);
        border-radius: 20px;
    }

    .my-autoplay-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin: 20px;*/
        /*padding: 20px;*/
    }

    @media (max-width: 600px) {
        .splide__arrow {
            top: 30px;
        }

        .splide__arrow.splide__arrow--prev:hover,
        .splide__arrow.splide__arrow--next:hover {
            top: 10px;
        }
    }
</style>


<script>
    // $(function () {
    //     $(".splide__slide").on("click", function () {

    //         //load data name and display it
    //         var dataName = $(this).find("img").attr("data-name");
    //         $("#modelName").html(dataName.toString());
    //         $("#modelName").removeClass("video-title-error");


    //         var dataModelSource = $(this).find("img").attr("data-model-source");
    //         console.log(dataName);
    //         console.log(dataModelSource);
    //         if (dataModelSource) {
    //             loadModel(dataModelSource)
    //         }

    //     });
    // });
</script>

<!------------------------------------------ RIGHT SIDE -------------------------------------------------->
{% endblock %}