{% extends 'portfolio/html/base.html' %}
{% load static %}
{% block content %}
<!------------------------------------------ LEFT SIDE -------------------------------------------------->

<!------------------------------------------ CENTER -------------------------------------------------->

<div class="webglRenderer-container">
    <span class="video-title" id="modelName">---</span>
    <div class="main-webglRenderer-container">
        <!--<div id="webgl" class="webglRenderer-element"></div>-->
        {% include 'portfolio//html/3DmodelLoader.html' %}
    </div>

</div>
<div class="slide-holder">
    <div id="thumbnail-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for model in models %}
                <li class="splide__slide">
                    <img src="{{model.imgSrc}}" data-name="{{model.dataName}}"
                        data-model-source="{{model.dataModelSource}}">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {

        var thumbnails = new Splide('#thumbnail-slider', {
            fixedWidth: 100,
            fixedHeight: 60,
            gap: 10,
            padding: 50,
            rewind: true,
            pagination: false,
            cover: true,
            isNavigation: true,
            breakpoints: {
                600: {
                    fixedWidth: 60,
                    fixedHeight: 44,
                },
            },
        });

        thumbnails.mount();
        thumbnails.on('active', function (element) {
            //load data name and display it
            var dataName = $(element.slide).find("img").attr("data-name");
            $("#modelName").html(dataName.toString());
            $("#modelName").removeClass("video-title-error");

            var dataModelSource = $(element.slide).find("img").attr("data-model-source");
            console.log(dataName);
            console.log(dataModelSource);
            if (dataModelSource) {
                loadModel(dataModelSource)
            }

        });
    });
</script>

<style>
    .slide-holder {
        /* background-color: red; */
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow: red 0px 0px 3px, red 0px 0px 3px, red 0px 0px 3px, red 0px 0px 4px, red 0px 0px 4px, red 0px 0px 4px;

    }

    .splide__slide img {
        width: 100%;
        height: auto;
    }
</style>


<script>


    // $(function () {
    //     $(".splide__slide").on("click", function () {

    //         //load data name and display it
    //         var dataName = $(this).find("img").attr("data-name");
    //         $("#modelName").html(dataName.toString());
    //         $("#modelName").removeClass("video-title-error");


    //         var dataModelSource = $(this).find("img").attr("data-model-source");
    //         console.log(dataName);
    //         console.log(dataModelSource);
    //         if (dataModelSource) {
    //             loadModel(dataModelSource)
    //         }

    //     });
    // });
</script>

<!------------------------------------------ RIGHT SIDE -------------------------------------------------->
{% endblock %}