body {
    /* overflow: hidden; */
    margin: 0 auto;
    /* background-image: url('/static/portfolio/pictures/background.png'); */
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    /* height: 3000px; */
}


/*------------------------------------------------TRHEE JS CANVAS--------------------------------------*/

.threejs-canvas-fs {
    position: absolute;
}

.threejs-canvas-ms {
    position: absolute;
    width: 500px;
    height: 500px;
    cursor: grab;
}

.main-webglRenderer-container {
    width: 500px;
    height: 500px;
}


/*------------------------------------------------NAVIGATION--------------------------------------*/

header {
    width: 100%;
    /*height: 80px;*/
    position: fixed;
    top: 0px;
    z-index: 1;
    position: relative;
}

.navigation {
    background: linear-gradient(#202020, rgb(54, 54, 54));
    display: flex;
    flex-direction: column;
}

.navigation-logo {
    margin-bottom: 6px;
    margin-left: 6px;
    width: 64px;
    height: 64px;
    /*background-color: white;*/
    transition: 500ms;
}

.navigation-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* margin-left: 30px; */
    /* width: 100%; */
    position: absolute;
    transition: 500ms;
}

.navigation-logo-container:hover {
    background-color: #202020;
}


/* .navigation-logo-link:hover .navigation-logo {
    transform: rotate(360deg) scale(1.1);
    transition: 500ms;
} */

.nav-logo-img {
    width: inherit;
    height: inherit;
    cursor: pointer;
}

.navigation-logo-name {
    font-family: 'Lilita One', cursive;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    margin-left: 10px;
    transition: 500ms;
    cursor: pointer;
    font-variant: small-caps;
}

.nav-submenu {
    background: radial-gradient(rgb(73, 73, 73), #3f3f3f);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    top: 76px;
    box-shadow: #850303 4px 4px 0px, #840000 -4px 4px;
}

.fa-caret-down {
    transition: 500ms;
}

.nav-submenu-btn:hover .nav-submenu {
    display: block;
}

.nav-submenu-btn:hover .fa-caret-down {
    transform: rotate(180deg);
}

.nav-submenu-open {
    display: block;
}

.nav-submenu-open .fa-caret-down {
    transform: rotate(180deg);
}

.navigation-list {
    /*background-color: red;*/
    /*height: 80px;*/
    opacity: 1;
    right: 30px;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-items: flex-end;
    transition: 500ms;
}

.navigation-list-entry {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    background: none;
}

.navigation-active {
    background-color: #202020;
}

.navigation-list-entry:hover {
    background-color: #202020;
    transition: 500ms;
}

.navigation-list-link,
.content-title,
.video-title,
.content-text-para {
    width: 100%;
    line-height: 80px;
    font-family: 'Lilita One', cursive;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    cursor: pointer;
    transition: 500ms;
    text-decoration: none;
    font-variant: small-caps;
    text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px;
}

/*------------------------------------------------VIDEO + PLAY BUTTON--------------------------------------*/

.video-container,
.webglRenderer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.video-container:hover .video-play-btn-container {
    opacity: 1;
}

.video-play-btn-container {
    position: absolute;
    opacity: 0.1;
    transition: 500ms;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.video-play-btn-border {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        /*linear-gradient(45deg, rgba(191,0,0,1) 0%, rgba(98,6,6,1) 100%)*/
        red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    margin: 0 auto;
    transition: 500ms;
}

.video-play-btn-border:hover {
    transition: 500ms;
    transform: scale(1.1);
}

.video-play-btn {
    background: radial-gradient(rgb(77, 77, 77), #202020);
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    width: 74px;
    height: 74px;
    border: none;
    cursor: pointer;
}

.main-video-container,
.main-webglRenderer-container {
    /* width: 800px;
    height: 600px; */
    /*background: radial-gradient(rgba(191, 0, 0, 1), rgba(98, 6, 6, 1));*/
    /*box-shadow: rgb(231, 49, 49, 0.3) 0px 7px 29px 0px;*/
    box-shadow: red 0px 0px 3px, red 0px 0px 3px, red 0px 0px 3px, red 0px 0px 4px, red 0px 0px 4px, red 0px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    backdrop-filter: blur(2px);
    border-radius: 100%;
    /*border: solid 3px red;*/
    background: #ff00001f;

    /* z-index: -1; */
}

#main-video,
#webgl {
    /* width: 1274px;
    height: 714px; */
    width: 100%;
    height: auto;
}

.video-title {
    margin-top: 10px;
    cursor: default;
    font-size: 40px;
}

/*------------------------------------------------ANIMATIONS KEYFRAMES--------------------------------------*/

.video-title-error {
    animation-name: video-title-error-anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.pulsate-text {
    animation-name: pulsate-text-anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.pulsate-text:hover {
    animation: none;
    transform: scale(1.1);
    text-shadow: white 0px 0px 3px, white 0px 0px 3px, white 0px 0px 3px, white 0px 0px 4px, white 0px 0px 4px, white 0px 0px 4px;
}

@keyframes pulsate-text-anim {
    0% {
        transform: scale(1.0);
        text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px;
    }

    50% {
        transform: scale(1.1);
        text-shadow: white 0px 0px 3px, white 0px 0px 3px, white 0px 0px 3px, white 0px 0px 4px, white 0px 0px 4px, white 0px 0px 4px;
    }

    100% {
        transform: scale(1.0);
        text-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px;
    }
}

@keyframes video-title-error-anim {
    0% {
        color: white;
    }

    50% {
        color: red;
    }

    100% {
        color: white;
    }
}


/*------------------------------------------------VIDEO LIST--------------------------------------*/

.video-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.video-list-container {
    height: 100%;
    /* margin-top: -50px; */
    /*background-color: red;*/
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-list-entry-container {
    width: 200px;
    height: 160px;
    background: radial-gradient(rgba(191, 0, 0, 1), rgba(98, 6, 6, 1));
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    cursor: pointer;
    box-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px;
}

.video-list-entry-container:hover {
    transition: 500ms;
    transform: rotate(2deg) scale(1.1);
    box-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px, rgb(231, 49, 49, 0.75) 0px 7px 29px 0px;
}

.video-list-entry-container:active,
.video-list-entry-container:focus {
    box-shadow: rgba(0, 217, 255, 0.75) 0px 7px 29px 0px;
}

.video-list-entry-img {
    width: 192px;
    height: 152px;
    background-color: rgb(36, 36, 36);
}

@media (max-width: 1400px) {
    .video-content {
        flex-direction: column;
    }

    .video-list-container {
        flex-direction: row;
    }
}


/*------------------------------------------------BLOG CONTENT--------------------------------------*/

.content {
    /* position: absolute; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 80px;
    /*height of navigation*/
    margin-top: 10px;
}

.content-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-title {
    margin-top: 30px;
    cursor: default;
    font-size: 60px;
    font-variant: small-caps;
}

.content-text-para {
    width: 800px;
    font-size: 30px;
    cursor: default;
}

.about-logo {
    margin-top: 10px;
    width: 300px;
    height: 300px;
}


/*------------------------------------------------MISC--------------------------------------*/

.bottom-line,
.content-title-bottom-line {
    width: inherit;
    height: 4px;
    background: radial-gradient(rgba(191, 0, 0, 1), rgba(98, 6, 6, 1));
    bottom: 0;
    position: absolute;
    box-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px;
}

.content-title-bottom-line {
    width: 75px;
    position: initial;
    box-shadow: #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 3px, #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px;
}

.link {
    font-family: 'Lilita One', cursive;
    color: #bb0202;
    transition: 500ms;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
}

.link:hover {
    color: #a50404;
    transition: 500ms;
    transform: scale(1.05);
}


/*------------------------------------------------WEBGL THREEJS--------------------------------------*/

.webglRenderer-container {
    z-index: 0;
    margin-top: 0;
}

.webglRenderer-element {
    cursor: grab;
}

canvas:active {
    cursor: grabbing;
}


/*------------------------------------------------MEDIA QUERIES--------------------------------------*/

@media (max-width: 900px) {
    .threejs-canvas-ms {
        width: 400px;
        height: 400px;
    }

    .main-webglRenderer-container {
        width: 400px;
        height: 400px;
    }

    .nav-submenu {
        position: relative;
        top: 0px;
        width: 100%;
    }

    .navigation-list-entry{
        background: linear-gradient(360deg, #262626, #2c2c2c);
    }
}

@media (max-width: 600px) {
    .threejs-canvas-ms {
        width: 300px;
        height: 300px;
    }

    .main-webglRenderer-container {
        width: 300px;
        height: 300px;
    }
}


@media (max-width: 420px) {
    .threejs-canvas-ms {
        width: 200px;
        height: 200px;
    }

    .main-webglRenderer-container {
        width: 200px;
        height: 200px;
    }

    .navigation-logo-name,
    .navigation-list-link,
    .content-title,
    .video-title,
    .content-text-para {
        line-height: 40px;
        font-size: 30px;
    }

    .navigation-list-entry {
        height: 40px;
    }

    .navigation-list-link{
        font-size: 20px;
        line-height: 30px;
    }

    .navigation-logo {
        width: 28px;
        height: 28px;
        margin-bottom: 4px;
    }

    #menu-btn:checked~.navigation-hoz .navigation-list {
        margin-top: 40px !important;
        /* margin-bottom: 10px; */
    }

    .bottom-line{
        height: 2px;
    }
}