{% extends extendHTML %} {% load static %} {% load i18n %} {% block content %} {% load crispy_forms_tags %}
<section class="container" id="contact">
  <div class="row" data-aos="fade-down" data-aos-delay="0" data-aos-duration="1000">
    <div class="col d-flex justify-content-center">
      <h2>{% trans "CONTACT" %}</h2>
      <h2 class="primary-text" style="margin-left: 10px">{% trans "ME" %}</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <h3 class="text-left" data-aos="fade-down" data-aos-delay="0" data-aos-duration="1000">{% trans "REACH OUT" %}</h3>
      <p class="text-left" data-aos="fade-right" data-aos-delay="0" data-aos-duration="1000">{% trans "Unlock your potential. With personalized expertise and tailored solutions, I'll help you achieve your goals and overcome challenges. Let's collaborate and make a difference together. Reach out today!" %}</p>
      <div class="row align-items-center" data-aos="fade-right" data-aos-delay="250" data-aos-duration="1000">
        <div class="col-3">
          <div class="contact-symbol"><i class="fa-solid fa-map-location-dot"></i></div>
        </div>
        <div class="col">
          <h6 class="mb-0 text-left">{% trans "ADDRESS" %}</h6>
          <p class="mb-0 text-left">Zum Börnchen 40, 99947 Bad Langensalza, Ot. Klettstedt</p>
        </div>
      </div>
      <div class="row align-items-center" data-aos="fade-left" data-aos-delay="250" data-aos-duration="1000">
        <div class="col-3">
          <div class="contact-symbol"><i class="fa-solid fa-phone-volume"></i></div>
        </div>
        <div class="col">
          <h6 class="mb-0 text-left">{% trans "CALL ME" %}</h6>
          <p class="mb-0 text-left">+49 15222147782</p>
        </div>
      </div>
      <div class="row align-items-center" data-aos="fade-right" data-aos-delay="250" data-aos-duration="1000">
        <div class="col-3">
          <div class="contact-symbol"><i class="fa-solid fa-envelope-circle-check"></i></div>
        </div>
        <div class="col">
          <h6 class="mb-0 text-left">{% trans "MAIL ME" %}</h6>
          <p class="mb-0 text-left">robertirrgang@outlook.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" data-aos="fade-right" data-aos-delay="0" data-aos-duration="1000">
              <input type="text" id="id_name" name="name" class="form-control form-dark" required placeholder="Name" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" data-aos="fade-left" data-aos-delay="0" data-aos-duration="1000">
              <input type="email" id="id_email" name="email" class="form-control form-dark" required placeholder="E-Mail" />
            </div>
          </div>
        </div>

        <div class="form-group" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <input type="text" id="id_subject" name="subject" class="form-control form-dark" required placeholder="{% trans "Subject" %}" />
        </div>

        <div class="form-group" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
          <textarea id="id_message" name="message" class="form-control form-dark" rows="10" required placeholder="{% trans "Message" %}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary form-dark">{% trans "SEND MESSAGE" %} <i class="fas fa-paper-plane"></i> </button>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
