{% load i18n %}
<nav class="side-nav mobile-hide">
  <a class="social-link globe has-tooltip" target="" href="{% url 'portfoliov2:switchLanguage'%}">
    <i class="fa fa-globe"></i>
    <span class="tooltip tooltip-left"> {% trans "Change Language" %} </span>
  </a>
  <a class="social-link linkedin has-tooltip" target="_blank" href="https://www.linkedin.com/in/robert-irrgang-625ba2227/">
    <i class="fab fa-linkedin"></i>
    <span class="tooltip tooltip-left">{% trans "Visit LinkedIn" %}</span></a
  >
  <a class="social-link xing has-tooltip" target="_blank" href="https://www.xing.com/profile/Robert_Irrgang2/cv">
    <i class="fab fa-xing"></i>
    <span class="tooltip tooltip-left">{% trans "Visit Xing" %}</span></a
  >
  <a class="social-link youtube has-tooltip" target="_blank" href="https://www.youtube.com/@RobertIrrgang">
    <i class="fab fa-youtube"></i>
    <span class="tooltip tooltip-left">{% trans "Visit YouTube" %}</span></a
  >
  <a class="social-link twitter has-tooltip" target="_blank" href="https://twitter.com/irrgang_robert">
    <i class="fab fa-twitter"></i>
    <span class="tooltip tooltip-left">{% trans "Visit Twitter" %}</span></a
  >
  <a class="social-link github has-tooltip" target="_blank" href="https://github.com/rirrgang">
    <i class="fab fa-github"></i>
    <span class="tooltip tooltip-left">{% trans "Visit GitHub" %}</span></a
  >
</nav>
